node_modules/
android/.gradle/
android/app/build/
android/build/
android/.cxx/
.gradle/
*.log
*.iml

.env
.env.*

functions/node_modules/

*.keystore
*.jks

firebase-debug.log
firestore-debug.log
storage-debug.log
ui-debug.log